<!-- -*- mode: XML -*- -->
<!-- run any_velodyne_pointcloud/TransformNodelet in a nodelet manager -->

<launch>

  <arg name="use_sim_time" default="true"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <arg name="model" default="VLP16" />
  <arg name="calibration" default="$(find any_velodyne_pointcloud)/params/VLP16db.yaml" />
  <arg name="frame_id" default="lidar" />
  <arg name="manager" default="velodyne_nodelet_manager" />
  <arg name="max_range" default="130.0" />
  <arg name="min_range" default="0.9" />
  <arg name="organize_cloud" default="false" />
  <node pkg="nodelet" type="nodelet" name="$(arg manager)_transform"
        args="load any_velodyne_pointcloud/TransformNodelet $(arg manager)" >
    <param name="model" value="$(arg model)"/>
    <param name="calibration" value="$(arg calibration)"/>
    <param name="frame_id" value="$(arg frame_id)"/>
    <param name="max_range" value="$(arg max_range)"/>
    <param name="min_range" value="$(arg min_range)"/>
    <param name="organize_cloud" value="$(arg organize_cloud)"/>

    <!-- <remap from="velodyne_packets" to="/lidar/packets"/>
    <remap from="velodyne_points"  to="/lidar/point_cloud"/> -->

  </node>
</launch>
