<!-- -*- mode: XML -*- -->
<!-- run any_velodyne_pointcloud/CloudNodelet in a nodelet manager for a VLP-16 -->

<launch>

  <arg name="use_sim_time" default="true"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <arg name="input_rosbag_path" default=""/>
  <arg name="output_rosbag_path" default=""/>
  <arg name="node_start_delay" default="2.0" />

  <!-- declare arguments with default values -->
  <arg name="calibration" default="$(find any_velodyne_pointcloud)/params/VLP16db.yaml"/>
  <arg name="model" default="VLP16" />
  <arg name="fixed_frame" default="odom" />
  <arg name="target_frame" default="lidar" />
  <arg name="manager" default="$(arg target_frame)_nodelet_manager" />
  <arg name="max_range" default="130.0" />
  <arg name="min_range" default="0.4" />
  <arg name="laserscan_ring" default="-1" />
  <arg name="laserscan_resolution" default="0.007" />
  <arg name="organize_cloud" default="false" />

  <!-- start nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" required="true"/>

  <!-- This is the nodelet that publishes the distorted and undistorted pointclouds. -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager)_transform"
        args="load any_velodyne_pointcloud/TransformNodelet $(arg manager)" required="true" >
    <param name="model" value="$(arg model)"/>
    <param name="calibration" value="$(arg calibration)"/>
    <param name="frame_id" value="$(arg target_frame)"/>
    <param name="fixed_frame" value="$(arg fixed_frame)"/>
    <param name="max_range" value="$(arg max_range)"/>
    <param name="min_range" value="$(arg min_range)"/>
    <param name="organize_cloud" value="$(arg organize_cloud)"/>

    <!-- For GrandTour replay -->
    <param name="input_rosbag_path" value="$(arg input_rosbag_path)"/>
    <param name="output_rosbag_path" value="$(arg output_rosbag_path)"/>

  </node>

  <!-- start laserscan nodelet -->
  <include file="$(find any_velodyne_pointcloud)/launch/laserscan_nodelet.launch">
    <arg name="manager" value="$(arg manager)" />
    <arg name="ring" value="$(arg laserscan_ring)"/>
    <arg name="resolution" value="$(arg laserscan_resolution)"/>
  </include>

  <!-- rosbag play -->
  <node pkg="rosbag" type="play" name="player" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' xterm -bg lightblue -fg darkslategrey -bd plum -bw 10 -geometry 80x40-50+250 -fn -sony-fixed-medium-r-normal--24-170-100-100-c-120-iso8859-1 -e " args="--clock -r 5 -d 1 $(arg input_rosbag_path)"/>

</launch>
